@mixin change-border-color($color) {
  border-color: $color;
}

.white-row {
  grid-column: span 18;
}
.item {
  &:nth-child(2) {
    grid-column: 18;
  }
  &:nth-child(5), &:nth-child(13) {
    grid-column: 13
  }
  &:nth-child(57), &:nth-child(74), &:nth-child(90), &:nth-child(105) {
    grid-column: 4;
  }
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  padding: 2px;
  font-size: .8em;
  color: #fff;
  &.nonmetal {
    @include change-border-color(#00ff00);
  }
  &.metal {
    @include change-border-color(#336600);
  }
  &.alkali {
    @include change-border-color(#ff9933);
  }
  &.alkaline {
    @include change-border-color(#ffff66);
  }
  &.transition {
    @include change-border-color(#990000);
  }
  &.metalloid {
    @include change-border-color(#339933);
  }
  &.halogen {
    @include change-border-color(#00ffff);
  }
  &.noble {
    @include change-border-color(#0066ff);
  }
  &.lanthanoid {
    @include change-border-color(#ff9966);
  }
  &.actinoid {
    @include change-border-color(#8f246b);
  }
  .numeral {
    align-self: flex-start;
  }
  .symbol {
    font-weight: bold;
  }
}
