/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  background-image: linear-gradient(to right, #051937, #071532, #090f2d, #0a0828, #0a0023);
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
}
